{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="text-center">
  <h1><em>"{{ book[2] }}"</em></h1>
  <h2>by {{ book[3] }}</h2>
  <p class="text-muted">isbn:{{ book[1] }} \ publication year:{{ book[4] }}</p>
  <hr>
  <em class="text-muted">
    {% if goodreads %}
    <p>Average rating on Goodreads is {{ goodreads["average_rating"] }} of {{ goodreads["work_ratings_count"] }} total votes
    </p>
    {% else %}
    <p>No info on Goodreads</p>
    {% endif %}
  </em>
  <hr>
  <p>
    {% if can_post %}
    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal"
      data-whatever="@mdo">
      Write review
    </button>
    {% endif %}
    <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#view-comments"
      aria-expanded="false" aria-controls="collapseExample">
      View reviews
    </button>
  </p>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="write-comment"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="write-comment">Write review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
            <div class="form-group">
              {{ form.comment.label(class="form-control-label") }}
              {{ form.comment(class="form-control") }}
            </div>
            <div class="form-group">
              {{ form.rate.label(class="form-control-label") }}
              {{ form.rate(class="form-control") }}
            </div>
          </fieldset>
          <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="collapse" id="view-comments">
  <div class="card card-body">
    {% if reviews %}
      {% for review in reviews %}
        <div>
          <h5 class="modal-title">Review #{{ loop.index }}</h5>
          <p>{{review[4]}}</p>
          <small class="text-muted">created on: {{review[5]}}</small>
        </div>
        <hr class="row-md-3">
      {% endfor %}
    {% else %}
      <span class="text-muted">There are no reviews yet!</span>
    {% endif %}

  </div>
</div>
{% endblock content %}