@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

%logo-font {
    font-family: 'Permanent Marker', cursive;
}
$c: black;
$home-font-color: white;

#index-body {background-color: $c;}

#index-body {
    h1 {
        @extend %logo-font;
        color: $home-font-color;
        font-size: 500%;
    }
}

.index-link {
    color: $home-font-color;
    padding: 0.5em;
}

a {@extend %logo-font;}

p {
    a {
        color: $c;
    }
}

.link-img {  
    display: flex;
    justify-content: center;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.link-img:hover{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);    
}

@media only screen and (max-width: 600px) {
    body {
      background-color: grayscale($color: #dbf0df);
    }
  }